.row {
	padding: 0 auto;
}

.row:first-child{
	margin-bottom: 20px;
	text-align: center;
}

#map-canvas {
	width: 461px;
	height: 461px;
	display: none;
	margin: 0 auto;
}

@media (min-width: 480px) {
	#map-canvas {
		display: block;
	}
}

h3{
	margin-top:5px;
}

.bar:hover{
	cursor: pointer;
}